<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Join a new team!</h2>
        <img src="/images/team.jpg" class="img-rounded img-responsive"/>
      </div>s
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2> Team Positions Open </h2>
          <p><a class="btn btn-default" href="#/teampositions" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; LendingClub</p>
      </footer>
    </div> <!-- /container -->
