<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{shipwreck.teamName}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{shipwreck.teamName}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{shipwreck.positionDescription}}</td>
      </tr>
      <tr>
          <td>Manager Name</td>
          <td>{{shipwreck.lastName}}, {{shipwreck.firstName}}</td>
      </tr>
      <tr>
          <td>Manager Email</td>
          <td>{{shipwreck.email}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editShipwreck({id:shipwreck.id})">Edit</a>
  </div>
</div>
