<div class="container pad-top">
    <table class="table shipwrecktable">
        <tr>
            <td><h3>Open Positions!</h3></td>
            <td> Hurry there's 334 employees currently looking at these positions </td>
        </tr>
        <tr ng-repeat="shipwreck in shipwrecks">
            <td>{{shipwreck.teamName}}</td>
            <td>{{shipwreck.positionDescription}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="viewShipwreck({id:shipwreck.id})">View</a>
                <a class="btn btn-danger"  ng-click="">Approve</a>
                <a class="btn btn-danger"  ng-click="deleteShipwreck(shipwreck)">Decline</a>
            </td>
        </tr>
    </table>
</div>