<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Applicants List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <div th:replace="~{fragment :: nav-header}"></div> -->

<h3>Applicants applying to team:</span></h3>
<span th:if="${not #lists.isEmpty(applicants)}"><span th:text="${applicants[0].teamName}">
</span></span>

<ul th:each="applicant : ${applicants}" style="list-style-type:circle">
    <li>
        Applicant's Name: <span th:text="${applicant.firstName}"></span>
                          <span th:text="${applicant.lastName}"></span>
        <br>
        Applicant's Email: <span th:text="${applicant.email}"></span>
        <br>
        Applicant's current team: <span th:text="${applicant.currentTeamName}"></span>
        <br>
        Applicant's current position: <span th:text="${applicant.currentPosition}"></span>
        <br>
        Applicant's Self description: <span th:text="${applicant.description}"></span>
        <br>
        Applicant's No Of years of experience: <span th:text="${applicant.numOfYearExperience}"></span>
        <br>
        Applicant's current Manager: <span th:text="${applicant.currentManagerName}"></span>
        <br>
        <a
                th:href="@{/api/accept-application/{teamId}(teamId=${applicant.teamId})}"
        >Accept</a>
        <br>
        <a
                th:href="@{/api/deny-application/{transitionId}(transitionId=${applicant.transitionId})}"
        >Deny</a>
    </li>
</ul>
</body>
