<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h3>Posting available position(s)</h3>
<form action="http://localhost:8080/api/saveteam" method="post">
    Manager's First name: <input type = "text" name = "firstName" />
    <br>
    Manager's Last name: <input type = "text" name = "lastName" />
    <br>
    Manager's Email: <input type = "text" name = "email" />
    <br>
    Team name: <input type = "text" name = "teamName" />
    <br>
    Position Description: <input type = "text" name = "positionDescription" />
    <button>Submit</button>
</form>
</body>
</html>