<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <div th:replace="~{fragment :: nav-header}"></div> -->

<h3>All available teams</h3>
<ul th:each="team : ${teams}" style="list-style-type:circle">
    <li>
        Team Name: <span th:text="${team.teamName}"></span> <br>
        Manager's Name: <span th:text="${team.managerFirstName}"></span>
                        <span th:text="${team.managerLastName}"></span> <br>
        Manager's Email: <span th:text="${team.managerEmail}"></span> <br>
        Position Description: <span th:text="${team.positionDescription}"></span> <br>
        <a
                th:href="@{/apply-form/{managerId}/{teamId}(managerId=${team.managerId}, teamId=${team.teamId})}"
                >Apply to this position</a>
    </li>
</ul>
</body>
